body{
    font-family: 'Open Sans', sans-serif;
    background:linear-gradient(45deg, rgb(146, 143, 143), LightGray, rgb(204, 200, 200));
}
.navbar{
    max-width:1140px;
    margin: 0 auto;
}
.row{
    margin-top: 150px;
}
.btn{
    border-color: whitesmoke;
    color: white;
}
.btn:hover{
    border-color: whitesmoke;
    background-color: grey;
    color: white;
}
address p{
    color: white;
    padding: 35px 250px 0 0;
}